{% extends "layout/base.html" %}
{% block title %} Media {% endblock %}
{% block editor_css %}{% endblock %}
{% block content %}
<div class="container mt-4">

    <div class="row">
        <div class="col-md-4">
            <form action="/media/upload" method="post" class="form" enctype="multipart/form-data">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="the_file" accept="audio/*,video/*,image/*,.zip,.html,.css,.js,.pdf,.doc,.docx" required>
                    <label class="custom-file-label" id="customFileLabel" for="customFile" style="overflow:hidden;">Choose file</label>
                </div>
                <input type="submit" class="btn btn-primary mt-4" value="Upload" />
            </form>
            {% block script %}
            <script type="text/javascript">
                window.customFile.addEventListener('change',evt => {
                    if(evt.target.value) 
                        window.customFileLabel.textContent = evt.target.value
                });
            </script>
            {% endblock %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Link</th>
                        <th scope="col" style="width:4em">Options</th>
                    </tr>
                    {% for images in data.img %}
                        <tr>
                            <td scope="row">{{images}}</td>
                            <td><a target="_blank" href="{{url_for('static',filename='uploads/'+images)}}">{{images}}</a></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Options">
                                    <a target="_blank" class="btn btn-sm btn-primary mr-md-1" href="{{url_for('static',filename='uploads/'+images)}}"><i class="icon-eye"></i></a>
                                    <form action="/media/delete" method="post" class="text-center">
                                        <input type="hidden" name="file" value="{{images}}">
                                        <button type="submit" class="btn btn-sm btn-danger" 
                                            title="Delete"
                                            onclick="return confirm('Are you sure!')" >
                                            <i class="icon-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% block editor_js %}{% endblock %}
{% endblock %}
