{% extends "layout/base.html" %}
{% block title %} Notes {% endblock %}
{% block editor_css %}{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 mb-3">
            <a class="btn btn-primary btn-sm" href="{{url}}/notes/new">
                <i class="icon-write mr-2"></i>New Note
            </a>
        </div>
        <div class="col-md-12">
            <div class="row">
                {% for row in rows %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-dark text-light">
                                {{row.title}}
                                <div class="float-right">
                                    <small class="text-warning">{{row.date}}</small>
                                </div>
                            </div>
                            <div class="card-body p-0 bg-primary" style="min-height:8rem">
                               <pre class="p-2">{{row.desc}}</pre>
                            </div>
                            <div class="card-footer bg-light text-right">
                                <a 
                                    class="btn btn-sm btn-primary" 
                                    href="{{url}}/notes/edit/{{row.uid}}" 
                                    title="Edit"><i class="icon-edit2"></i></a>
                                <a 
                                    class="btn btn-sm btn-danger" 
                                    onclick="return confirm('Are you sure!')"  
                                    href="{{url}}/notes/delete/{{row.uid}}" 
                                    title="Remove"><i class="icon-trash"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% block editor_js %}{% endblock %}
{% endblock %}
