<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Snippets</title>

    {% block editor_css %}
    <link rel="stylesheet" href="{{url_for('static',filename='assets/lib/ide.min.css')}}">
    {% endblock %}
    
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/lib/icomoon.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.min.css')}}">
    <script>
        var site_url = '{{ request.host_url }}';
    </script>
</head>
<body>

    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{url_for('index')}}">CMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('media')}}">Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('notes')}}">Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('snippets')}}">Snippets</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}

    {% block content %}{% endblock %} 

    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %}
                <div class="notification">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
    {% endwith %}

    {% block editor_js %}
    <script src="{{url_for('static',filename='assets/lib/ide.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/lib/split.min.js')}}"></script>
    {% endblock %}
    <script src="{{url_for('static',filename='assets/lib/axios.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/script.min.js')}}"></script>
    {% block script %}{% endblock %}
</body>

</html>